######################################
### Files that git-add should ignore

*.git
*.dat
*.pyc
*.py~
*.jpg
*.png
*.mat
*.csv
*.pyd
*.obj
*.lib
*.dll
*.tlog
*.log
*.user
*.manifest
*.res
*.pdb
*.exe
*.ncb
*.sdf
*.suo
*.filters
*.lastbuildstate
*.opensdf
ipch
UpgradeReport.*
debug
release
Debug
Release
_UpgradeReport_Files
